{% if review == "buyer_details" %}
  {% set buyer_change = "buyer_details" %}
{% else %}
  {% set buyer_change = "all" %}
{% endif %}

<dl class="govuk-check-your-answers cya-questions-short">
  <div>
    <dt class="cya-question">
      <h2 class="heading-medium">{{ content.buyer.title }}</h2>
    </dt>
    <dd class="cya-answer">
    </dd>
    <dd class="cya-change">
    </dd>
  </div>

  <div>
    <dt class="cya-question" style="border-bottom:none">
      {{ content.buyer.form.name.label }}
    </dt>
    <dd class="cya-answer" style="border-bottom:none">
      <div>
        {% if order_form.buyer_name %}
          {{ order_form.buyer_name }}
        {% else %}
          {{ content.prefill_buyer_name }}
        {% endif %}
      </div>
      </dd>
    <dd class="cya-change" style="border-bottom:none">
      <a href="/v4/buyer?review={{ buyer_change }}">Change</a>
    </dd>
  </div>

  <div>
    <dt class="cya-question" style="border-bottom:none">
      {{ content.buyer.form.address.label }}
    </dt>
    <dd class="cya-answer" style="border-bottom:none">
      {% if order_form.buyer_address %}
        {{ order_form.buyer_address }}
      {% else %}
        {{ content.prefill_buyer_address }}
      {% endif %}
    </dd>
    <dd class="cya-change" style="border-bottom:none">
    </dd>
  </div>

  <div>
    <dt class="cya-question" style="border-bottom:none">
      {{ content.buyer.form.invoice_address.label }}
    </dt>
    <dd class="cya-answer" style="border-bottom:none">
      {{ order_form.invoice_address }}
    </dd>
    <dd class="cya-change" style="border-bottom:none">
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      {{ content.buyer_representative.title }}
    </dt>
    <dd class="cya-answer">
      <p>{{ order_form.buyer_representative[0].name }}</p>
      <p>{{ order_form.buyer_representative[0].role }}</p>
      <p>{{ order_form.buyer_representative[0].email }}</p>
      <p>{{ order_form.buyer_representative[0].address }}</p>
    </dd>
    <dd class="cya-change"></dd>
  </div>

  <div>
    <dt class="cya-question" style="border-bottom:none">
      {{ content.environmental.form.policy.label }}
    </dt>
    {% if not order_form.files.environmental_policy_files | length %}
    <dd class="cya-answer" style="border-bottom:none">
    {% else %}
    <dd class="cya-answer">
    {% endif %}
      <p>{{ order_form.environmental_policy }}</p>
      {% for file in order_form.files.environmental_policy_files %}
      <p>{{ file }}</p>
      {% endfor %}
    </dd>
    <dd class="cya-change" style="border-bottom:none">
      <a href="/v4/environmental?review={{ buyer_change }}">Change</a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      {{ content.security.form.policy.label }}
    </dt>
    <dd class="cya-answer">
      <p>{{ order_form.security_policy }}</p>
      {% for file in order_form.files.security_policy_files %}
      <p>{{ file }}</p>
      {% endfor %}
    </dd>
    <dd class="cya-change"></dd>
  </div>
</dl>