<dl class="govuk-check-your-answers cya-questions-short">
  <div>
    <dt class="cya-question" style="border-bottom:none;padding-top:10px">
      Name
    </dt>
    <dd class="cya-answer" style="border-bottom:none">
      {{ order_form.contract_manager_name }}
    </dd>
    <dd class="cya-change" style="border-bottom:none">
    </dd>
  </div>

  <div>
    <dt class="cya-question" style="border-bottom:none">
      Role
    </dt>
    <dd class="cya-answer" style="border-bottom:none">
      {{ order_form.contract_manager_role }}
    </dd>
    <dd class="cya-change" style="border-bottom:none">
    </dd>
  </div>

  <div>
    <dt class="cya-question" style="border-bottom:none">
      Email
    </dt>
    <dd class="cya-answer" style="border-bottom:none">
      {{ order_form.contract_manager_email }}
    </dd>
    <dd class="cya-change" style="border-bottom:none">
    </dd>
  </div>

  <div>
    <dt class="cya-question" style="border-bottom:none">
      Address
    </dt>
    <dd class="cya-answer" style="border-bottom:none">
      {{ order_form.contract_manager_address }}
    </dd>
    <dd class="cya-change" style="border-bottom:none">
    </dd>
  </div>
</dl>