<fieldset class="inline">

  <legend>
    <h2 class="heading-medium">{{ content.guarantee.title }}</h2>
  </legend>
  <span class="form-hint">
      {{ content.guarantee.introduction }}
  </span>

  <div class="multiple-choice" data-target="mod-yes">
    <input id="yes" type="radio" name="role" value="Yes">
    <label for="yes">Yes</label>
  </div>

  <div class="multiple-choice" data-target="mod-yes">
    <input id="no" type="radio" name="role" value="No">
    <label for="no">No</label>
  </div>

</fieldset>