<fieldset class="inline">
  <legend>
    <h2 class="heading-medium">{{ content.guarantee.title }}</h2>
  </legend>
  <span class="form-hint">
      {{ content.guarantee.introduction }}
  </span>

  <div class="multiple-choice" data-target="mod-yes">
    {% if order_form.contract_details.guarantee == "Yes" %}
    <input id="yes" type="radio" name="guarantee" value="Yes" checked="checked">
    {% else %}
    <input id="yes" type="radio" name="guarantee" value="Yes">
    {% endif %}
    <label for="yes">Yes</label>
  </div>

  <div class="multiple-choice" data-target="mod-yes">
    {% if order_form.contract_details.guarantee == "No" %}
    <input id="yes" type="radio" name="guarantee" value="No" checked="checked">
    {% else %}
    <input id="no" type="radio" name="guarantee" value="No">
    {% endif %}
    <label for="no">No</label>
  </div>
</fieldset>