<h2 class="heading-medium">Key staff</h2>
{% for staff in order_form.supplier_staff %}
<p>{{ staff.name }}</p>
{% endfor %}
<span class="form-hint">
  {{ content.supplier_staff.hint }}
</span>
<p><a href="add/supplier_staff" class="">Add staff</a></p>

<h2 class="heading-medium">Key subcontractors</h2>
{% for subcontractor in order_form.supplier_subcontractors %}
<p>{{ subcontractor.name }}</p>
{% endfor %}
<span class="form-hint">
  {{ content.supplier_subcontractors.hint }}
</span>
<p><a href="add/supplier_subcontractors" class="">Add subcontractors</a></p>