<fieldset>
  <legend>
    <h2 class="heading-medium">Payment method</h2>
  </legend>

  {% for method in content.payment.methods %}
  {% set id = method.replace(" ", "-").toLowerCase() %}
  <div class="multiple-choice" data-target="mod-yes">
    {% if order_form.contract_details.payment == method %}
    <input id={{ id }} type="radio" name="payment" value="{{ method }}" checked="checked">
    {% else %}
    <input id={{ id }} type="radio" name="payment" value="{{ method }}">
    {% endif %}
    <label for={{ id }}>{{ method }}</label>
  </div>
  {% endfor %}
</fieldset>
