<h2 class="heading-medium">{{ content.progress.form.report.label }}</h2>
<label class="form-label" for="progress_report">
  <span class="form-hint">
      {% for hint_text in content.progress.form.report.hint %}
      {{ hint_text }}<br>
      {% endfor %}
  </span>
</label>
<input class="form-control" id="progress_report" type="text" name="progress_report" value="{{ order_form.contract_details.progress_report }}">

<h2 class="heading-medium">{{ content.progress.form.frequency.label }}</h2>
<label class="form-label" for="progress_frequency">
  <span class="form-hint">
    {{ content.progress.form.frequency.hint }}
  </span>
</label>
<input class="form-control" id="progress_frequency" type="text" name="progress_frequency" value="{{ order_form.contract_details.progress_frequency }}">