<h2 class="heading-medium">{{ content.supplier.form.name.label }}</h2>
<label class="form-label" for="supplier_name">
  <span class="form-hint">
    {{ content.supplier.form.name.hint }}
  </span>
</label>
<input class="form-control" id="supplier_name" type="text" name="supplier_name" value="{% if order_form.supplier_name %}{{ order_form.supplier_name }}{% else %}AWS{% endif %}">

<h2 class="heading-medium">{{ content.supplier.form.address.label }}</h2>
<label class="form-label" for="supplier_address">
  <span class="form-hint">
    {{ content.supplier.form.address.hint }}
  </span>
</label>
<input class="form-control" id="supplier_address" type="text" name="supplier_address" value="{% if order_form.supplier_address %}{{ order_form.supplier_address }}{% else %}The Principle Place, Shoreditch{% endif %}">