<dl class="govuk-check-your-answers cya-questions-short">
  <div>
    <dt class="cya-question">
      <h2 class="heading-medium">{{ content.supplier.title }}</h2>
    </dt>
    <dd class="cya-answer">
    </dd>
    <dd class="cya-change">
    </dd>
  </div>

  <div>
    <dt class="cya-question" style="border-bottom:none">
      {{ content.supplier.form.name.label }}
    </dt>
    <dd class="cya-answer" style="border-bottom:none">
      <div>
        {% if order_form.supplier_name %}]
          {{ order_form.supplier_name }}
        {% else %}
          AWS
        {% endif %}
      </div>
      </dd>
    <dd class="cya-change" style="border-bottom:none">
      <a href="/v4/supplier?review=section">Edit</a>
    </dd>
  </div>

  <div>
    <dt class="cya-question" style="border-bottom:none">
      {{ content.supplier.form.address.label }}
    </dt>
    <dd class="cya-answer" style="border-bottom:none">
      {% if order_form.supplier_address %}
        {{ order_form.supplier_address }}
      {% else %}
        The Principle Place, Shoreditch
      {% endif %}
    </dd>
    <dd class="cya-change" style="border-bottom:none">
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      {{ content.supplier_representative.title }}
    </dt>
    <dd class="cya-answer">
      <p>{{ order_form.suplier_representative[0].name }}</p>
      <p>{{ order_form.supplier_representative[0].role }}</p>
      <p>{{ order_form.supplier_representative[0].email }}</p>
      <p>{{ order_form.supplier_representative[0].address }}</p>
    </dd>
    <dd class="cya-change">
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      Contract manager
    </dt>
    <dd class="cya-answer">
        <p>{{ order_form.contract_manager_name }}</p>
        <p>{{ order_form.contract_manager_role }}</p>
        <p>{{ order_form.contract_manager_email }}</p>
        <p>{{ order_form.contract_manager_address }}</p>
    </dd>
    <dd class="cya-change">
      <a href="/v4/contract_manager?review=section">Edit</a>
    </dd>
  </div>

  <div>
    <dt class="cya-question" style="border-bottom:none">
      {{ content.supplier_numbers.form.registration_number.label }}
    </dt>
    <dd class="cya-answer" style="border-bottom:none">
      {% if order_form.registration_number %}
        {{ order_form.registration_number }}
      {% else %}
        05218772
      {% endif %}
    </dd>
    <dd class="cya-change" style="border-bottom:none">
        <a href="/v4/supplier_numbers?review=section">Edit</a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      {{ content.supplier_numbers.form.duns.label }}
    </dt>
    <dd class="cya-answer">
      {% if order_form.duns %}
        {{ order_form.duns }}
      {% else %}
        678952172
      {% endif %}
    </dd>
    <dd class="cya-change">
    </dd>
  </div>

  <div>
    <dt class="cya-question" style="border-bottom:none">
      Essential staff
    </dt>
    <dd class="cya-answer" style="border-bottom:none">
      {% for staff in order_form.supplier_staff %}
      <p>{{ staff.name }}</p>
      <p>{{ staff.role }}</p>
      <p>{{ staff.email }}</p>
      <p>{{ staff.address }}</p>
      <br>
      {% endfor %}
    </dd>
    <dd class="cya-change" style="border-bottom:none">
      <a href="/v4/supplier_staff?review=section">Edit</a>
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      Essential subcontractors
    </dt>
    <dd class="cya-answer">
      {%for contractor in order_form.supplier_subcontractors %}
      <p>{{ contractor.name }}</p>
      <br>
      {% endfor %}
    </dd>
    <dd class="cya-change">
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      {{ content.sensitive.form.information.label }}
    </dt>
    <dd class="cya-answer">
      {{ order_form.sensitive_information }}
    </dd>
    <dd class="cya-change">
      <a href="/v4/sensitive?review=section">Edit</a>
    </dd>
  </div>
</dl>