{% extends "layout.html" %}

{% block page_title %}
  Award a contract
{% endblock %}

{% block content %}

{% if review %}
  {% set review_param = "?review=" + review %}
{% endif %}

<main id="content" role="main">
  {% if page != "role" %}
  <div class="breadcrumbs">
    <ol>
      <li><a href="/v4">Home</a></li>
      <li>{{ content[header].title }}</li>
    </ol>
  </div>
  {% endif %}

  <div class="grid-row">
    {% if page == "review" %}
      {% set column_class = "column-full" %}
    {% else %}
      {% set column_class = "column-two-thirds" %}
    {% endif %}
    <div class="{{ column_class }}">
      {% if page != "role" %}
      <a href="/v4/back" class="link-back">Back</a>
      {% endif %}

      {% if added %}
      <div class="govuk-box-highlight">
        <p class="font-medium" style="margin-bottom: 0px">
          {{ content.added[added] }}
        </p>
      </div>
      {% endif %}

      <h1 class="heading-xlarge">{{ content[header].title }}</h1>

      {% if content[header].introduction %}
        {% for paragraph_text in content[header].introduction %}
        <p>{{ paragraph_text }}</p>
        {% endfor %}
      {% endif %}

      {% include "v4/includes/_" + page + ".html" %}

      {% if page == 'review' %}
      <a href="/v4/back" class="link-back">Back</a>
      {% endif %}
    </div>
  </div>
</main>

{% endblock %}
