{% extends "layout.html" %}

{% block page_title %}
  Award a contract
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      {% if added %}
      <div class="govuk-box-highlight">
        <p class="font-medium" style="margin-bottom: 0px">
          {{ content.added[added] }}
        </p>
      </div>
      {% endif %}

      <h1 class="heading-xlarge">{{ content[header].title }}</h1>

      {% for paragraph_text in content[header].introduction %}
      <p>{{ paragraph_text }}</p>
      {% endfor %}

      {% include "v4/" + page + ".html" %}

    </div>
  </div>
</main>

{% endblock %}
