{% extends "layout.html" %}

{% block page_title %}
  Award a contract
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="breadcrumbs">
    <ol>
      <li><a href="/v4">Home</a></li>
      <li>{{ content[header].title }}</li>
    </ol>
  </div>

  <div class="grid-row">
    {% if page == 'review' %}
      {% set column_class = "column-full" %}
    {% else %}
      {% set column_class = "column-two-thirds" %}
    {% endif %}
    <div class="{{ column_class }}">
      <a href="{{ back }}" class="link-back">Back</a>

      {% if added %}
      <div class="govuk-box-highlight">
        <p class="font-medium" style="margin-bottom: 0px">
          {{ content.added[added] }}
        </p>
      </div>
      {% endif %}

      <h1 class="heading-xlarge">{{ content[header].title }}</h1>

      {% for paragraph_text in content[header].introduction %}
      <p>{{ paragraph_text }}</p>
      {% endfor %}

      {% include "v4/" + page + ".html" %}

    </div>
  </div>
</main>

{% endblock %}
