

<form class="form" action="" method="post">
  <div class="form-group">
    <h2 class="heading-medium">{{ content.buyer.form.name.label }}</h2>
    <label class="form-label" for="buyer_name">
      <span class="form-hint">
        {{ content.buyer.form.name.hint }}
      </span>
    </label>
    <input class="form-control" id="buyer_name" type="text" name="buyer_name" value="{% if order_form.buyer_name %}{{ order_form.buyer_name }}{% else %}GDS{% endif %}">

    <h2 class="heading-medium">{{ content.buyer.form.address.label }}</h2>
    <label class="form-label" for="buyer_address">
      <span class="form-hint">
        {{ content.buyer.form.address.hint }}
      </span>
    </label>
    <input class="form-control" id="buyer_address" type="text" name="buyer_address" value="{% if order_form.buyer_address %}{{ order_form.buyer_address }}{% else %}White Chapel Building, London{% endif %}">

    <h2 class="heading-medium">{{ content.buyer.form.invoice_address.label }}</h2>
    <label class="form-label" for="name">
      <span class="form-hint">
        {{ content.buyer.form.invoice_address.hint }}
      </span>
    </label>
    <input class="form-control" id="invoice_address" type="text" name="invoice_address" value={{ order_form.invoice_address }}>

    <h2 class="heading-medium">Authorised representatives</h2>
    {% for representative in order_form.buyer_representatives %}
    <p>{{ representative.name }}</p>
    {% endfor %}
    <p><a href="add/buyer_representatives" class="">Add</a></p>

    <h2 class="heading-medium">{{ content.environmental.form.policy.label }}</h2>
    <label class="form-label" for="environmental_policy">
      <span class="form-hint">
        {{ content.environmental.form.policy.hint }}
      </span>
    </label>
    <input class="form-control" id="environmental_policy" type="text" name="environmental_policy" value="{{ order_form.environmental_policy }}">
    <label class="form-label" for="environmental_policy_file" style="margin-top: 20px">
      Upload a file
    </label>
    <input type="file" id="environmental_policy_file">

    <h2 class="heading-medium">{{ content.security.form.policy.label }}</h2>
    <label class="form-label" for="security_policy">
      <span class="form-hint">
        {{ content.security.form.policy.hint }}
      </span>
    </label>
    <input class="form-control" id="security_policy" type="text" name="security_policy" value="{{ order_form.security_policy }}">

    <label class="form-label" for="security_policy_file" style="margin-top: 20px">
      Upload a file
    </label>
    <input type="file" id="security_policy_file">
  </div>

  <div class="form-group">
    <input class="button button-start" type="submit" value="Save">
    <a href="#" class="button button-start">Cancel</a>
  </div>
</form>

