<span class="form-hint">Step 1 of 2</span>
<form class="form" action="" method="post">
  <div class="form-group">
    <h2 class="heading-medium-first">{{ content.buyer.name.label }}</h2>
    <label class="form-label" for="buyer_name">
      {% if content.buyer.name.hint %}
      <span class="form-hint">
        {% for hint_text in content.buyer.name.hint %}
        {{ hint_text }}<br>
        {% endfor %}
      </span>
      {% endif %}
    </label>
    <input class="form-control" id="buyer_name" type="text" name="buyer_name" value="{% if order_form.buyer_name %}{{ order_form.buyer_name }}{% else %}{{ content.prefill_buyer_name }}{% endif %}">

    <h2 class="heading-medium">{{ content.buyer.address.label }}</h2>
    <label class="form-label" for="buyer_address">
      {% if content.buyer.address.hint %}
      <span class="form-hint">
        {% for hint_text in content.buyer.address.hint %}
        {{ hint_text }}<br>
        {% endfor %}
      </span>
      {% endif %}
    </label>
    <input class="form-control" id="buyer_address" type="text" name="buyer_address" value="{% if order_form.buyer_address %}{{ order_form.buyer_address }}{% else %}{{ content.prefill_buyer_address }}{% endif %}">

    <h2 class="heading-medium">{{ content.buyer.invoice_address.label }}</h2>
    <label class="form-label" for="name">
      {% if content.buyer.invoice_address.hint %}
      <span class="form-hint">
        {% for hint_text in content.buyer.invoice_address.hint %}
        {{ hint_text }}<br>
        {% endfor %}
      </span>
      {% endif %}
    </label>
    <input class="form-control" id="invoice_address" type="text" name="invoice_address" value={{ order_form.invoice_address }}>

    <h2 class="heading-medium">{{ content.buyer_representative.title }}</h2>
    {% if content.buyer_representative.hint %}
    <span class="form-hint">
      {% for hint_text in content.buyer_representative.hint %}
      {{ hint_text }}<br>
      {% endfor %}
    </span>
    {% endif %}
    {% if not order_form.buyer_representative %}
    <p><a href="add/buyer_representative{{ review_param }}" class="">Add</a></p>
    {% else %}
    {% include "v4/_buyer_representative.html" %}
    {% endif %}
  </div>

  {% include "v4/_save_and_continue.html" %}
</form>
