<form class="form" action="" method="post">
  <div class="form-group">
    {% include "v4/_contract_details.html" %}
    {% include "v4/_progress.html" %}
    {% include "v4/_what.html" %}
    {% include "v4/_charges.html" %}
    {% include "v4/_liability.html" %}
    {% include "v4/_terms.html" %}
    {% include "v4/_guarantee.html" %}
    {% include "v4/_expenses.html" %}
    {% include "v4/_credits.html" %}
    {% include "v4/_payment.html" %}
  </div>

  <div class="form-group">
    <input class="button button-start" type="submit" value="Save">
    <a href="#" class="button button-start">Cancel</a>
  </div>
</form>