<form class="form" action="" method="post">
  <div class="form-group">
    <h2 class="heading-medium">{{ content.environmental.form.policy.label }}</h2>
    <label class="form-label" for="environmental_policy">
      <span class="form-hint">
        {{ content.environmental.form.policy.hint }}
      </span>
    </label>
    <input class="form-control" id="environmental_policy" type="text" name="environmental_policy" value="{{ order_form.environmental_policy }}">
    <label class="form-label" for="environmental_policy_file" style="margin-top: 20px">
      Upload a file
    </label>
    <input type="file" id="environmental_policy_file">
  </div>

  {% include "v4/_save_and_continue.html" %}
</form>
