<form class="form" action="" method="post">
  <div class="form-group">
    <h2 class="heading-medium">{{ content.guarantee.form.label }}</h2>
    <span class="form-hint">
      {{ content.guarantee.form.hint }}
    </span>

    <div class="multiple-choice" data-target="mod-yes">
      {% if order_form.guarantee == "Yes" %}
      <input id="yes" type="radio" name="guarantee" value="Yes" checked="checked">
      {% else %}
      <input id="yes" type="radio" name="guarantee" value="Yes">
      {% endif %}
      <label for="yes">Yes</label>
    </div>

    <div class="multiple-choice" data-target="mod-yes">
      {% if order_form.guarantee == "No" %}
      <input id="yes" type="radio" name="guarantee" value="No" checked="checked">
      {% else %}
      <input id="no" type="radio" name="guarantee" value="No">
      {% endif %}
      <label for="no">No</label>
    </div>
  </div>

  {% include "v4/_save_and_continue.html" %}
</form>