<form class="form" action="" method="post">
  <div class="form-group">
    <h2 class="heading-medium">{{ content.email }}</h2>
    <label class="form-label" for="invited_supplier_signatory_email">
      <span class="form-hint">
      </span>
    </label>
    <input class="form-control" id="invited_supplier_signatory_email" type="text" name="invited_supplier_signatory_email">
  </div>

  <div class="form-group">
    <p><input class="button button-start" type="submit" value="Invite"></p>
    <p><a href="/v4">Cancel</a></p>
  </div>
</form>
