<form class="form" action="" method="post">
  <div class="form-group">
    <h2 class="heading-medium">{{ content.liability.form.max_liability.label }}</h2>
    <label class="form-label" for="liability">
      <span class="form-hint">
        {% for hint_text in content.liability.form.max_liability.hint %}
        {{ hint_text }}<br>
        {% endfor %}
      </span>
    </label>
    <textarea class="form-control form-control-3-4" name="liability" id="liability" rows="10">{{ order_form.contract_details.liability }}</textarea>
  </div>

  {% include "v4/_save_and_continue.html" %}
</form>