{% extends "layout.html" %}

{% block page_title %}
  Award a contract
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      {% if supplier_edit %}
      <div class="govuk-box-highlight">
        <p class="font-medium" style="margin-bottom: 0px">
          {{ content.supplier.invited }}
        </p>
      </div>
      {% endif %}

      {% if supplier_signatory_invited %}
      <div class="govuk-box-highlight">
        <p class="font-medium" style="margin-bottom: 0px">
          {{ content.sign.supplier_invited }}
        </p>
      </div>
      {% endif %}

      <h1 class="heading-xlarge">{{ content.title }}</h1>

      {% for paragraph_text in content.introduction %}
      <p>{{ paragraph_text }}</p>
      {% endfor %}
    </div>

    <div class="column-third">
      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="https://www.gov.uk/guidance/digital-marketplace-buyers-guide">Buyer guidance</a></li>
            <li><a href="https://www.gov.uk/guidance/how-to-award-a-contract-when-you-buy-services">How to award a contract</a></li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-medium">{{ content.contract.text }}</h2>
      <div class="list-number">
        <p>{{ content.contract.hint }}</p>
        <p><a href="v4/contract_details">{{ content.contract.link }}</a></p>
        <p><a href="v4/review?review=contract_details">{{ content.contract.review }}</a></p>
      </div>
    </div>

    <div class="column-third">
      {% if order_form.terms_complete %}
      <p class="heading-medium">Completed</p>
      {% else %}
      <p class="heading-medium">Incomplete</p>
      {% endif %}
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-medium">{{ content.buyer.text }}</h2>
      <div class="list-number">
        <p>{{ content.buyer.hint }}</p>
        <p><a href="v4/buyer">{{ content.buyer.link }}</a></p>
        <p><a href="v4/review?review=buyer_details">{{ content.buyer.review }}</a></p>
      </div>
    </div>

    <div class="column-third">
      {% if order_form.environmental_complete %}
      <p class="heading-medium">Completed</p>
      {% else %}
      <p class="heading-medium">Incomplete</p>
      {% endif %}
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-medium">{{ content.supplier.text }}</h2>
      <div class="list-number">
        <p>{{ content.supplier.hint }}</p>
        <p><a href="v4/supplier_edit">{{ content.supplier.edit }}</a></p>
        <p><a href="v4/supplier">{{ content.supplier.link }}</a></p>
        <p><a href="v4/review?review=supplier_details">{{ content.supplier.review }}</a></p>
      </div>
    </div>

    <div class="column-third">
      {% if order_form.sensitive_complete %}
      <p class="heading-medium">Completed</p>
      {% else %}
      <p class="heading-medium">Incomplete</p>
      {% endif %}
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-medium">{{ content.sign.text }}</h2>
      <div class="list-number">
        <p><a href="v4/review" role="link">Check your answers</a></p>

        {% if not order_form.buyer_signatory_complete %}
        <p>{{ content.sign.hint }}</p>
        {% endif %}

        {% if order_form.buyer_signatory_complete %}
        <p><a class="button" href="v4/invite_supplier_signatory">{{ content.sign.supplier_sign }}</a></p>
        {% endif %}

        {% if (order_form.terms_complete and order_form.environmental_complete and order_form.sensitive_complete) and not order_form.buyer_signatory_complete %}
        <p><a class="button" type="submit" href="v4/buyer_signatory">{{ content.sign.buyer }}</a></p>
        {% endif %}
      </div>
    </div>

    <div class="column-third">
      <p class="heading-medium">
      {% if order_form.buyer_signatory_complete and order_form.invite_supplier_signatory_complete %}
        Completed
      {% else %}
        {% if order_form.buyer_signatory_complete %}
          {{ content.sign.buyer_signed }}
        {% endif %}

        {% if order_form.invite_supplier_signatory_complete %}
          {{ content.sign.supplier_signed }}
        {% endif %}
      {% endif %}
      </p>
    </div>
  </div>
</main>

{% endblock %}
