{% extends "layout.html" %}

{% block page_title %}
  Award a contract
{% endblock %}

{% block content %}

{% set role = order_form.role %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      {% include "v4/includes/_overview_flash_messages.html" %}

      <h1 class="heading-xlarge">{{ content[role + "_title"] }}</h1>

      {% for paragraph_text in content[role + "_introduction"] %}
      <p>{{ paragraph_text }}</p>
      {% endfor %}

      {% if role == 'supplier' %}
      <ul class="list list-bullet">
        {% for list_text in content.supplier_introduction_list %}
        <li>{{ list_text }}</li>
        {% endfor %}
      </ul>

        {% for intro_text in content.supplier_introduction_two %}
        <p>{{ intro_text }}</p>
        {% endfor %}
      {% endif %}

      {% if role == 'buyer' %}
      <p><a href="v4/review" role="link">Check the contract</a></p>
      {% endif %}
    </div>

    <div class="column-third">
      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="https://www.gov.uk/guidance/digital-marketplace-buyers-guide">Buyer guidance</a></li>
            <li><a href="https://www.gov.uk/guidance/how-to-award-a-contract-when-you-buy-services">How to award a contract</a></li>
          </ul>
        </nav>
      </aside>

      {% if order_form.role == 'buyer' %}
        {% include "v4/includes/_buyer_progress.html" %}
      {% endif %}
    </div>
  </div>

  {% if order_form.role == 'buyer' %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-medium">
        1. {{ content.contract.text }}

        {% if order_form.terms_complete %}
        <span class="task-completed">Completed</span>
        {% endif %}
      </h2>
      <div class="list-number">
        {% for hint_text in content.contract.hint %}
        <p>{{ hint_text }}</p>
        {% endfor %}

        <p>
          <a href="v4/contract_details">
            {% if order_form.terms_complete %}
              {{ content.contract.link_after }}
            {% else %}
              {{ content.contract.link }}
            {% endif %}
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-medium">
        2. {{ content.buyer.text }}

        {% if order_form.environmental_complete %}
        <span class="task-completed">Completed</span>
        {% endif %}
      </h2>
      <div class="list-number">
        {% for hint_text in content.buyer.hint %}
        <p>{{ hint_text }}</p>
        {% endfor %}

        <p>
          <a href="v4/buyer">
            {% if order_form.environmental_complete %}
              {{ content.buyer.link_after }}
            {% else %}
              {{ content.buyer.link }}
            {% endif %}
          </a>
        </p>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-medium">
        {% if role == 'buyer' %}3. {% endif %}{{ content.supplier.text }}

        {% if order_form.sensitive_complete and order_form.role != 'supplier' %}
        <span class="task-completed">Completed</span>
        {% endif %}
      </h2>

      {% if order_form.role == 'buyer' %}
      <div class="list-number">
      {% else %}
      <div>
      {% endif %}
        {% for hint_text in content.supplier[role + "_hint"] %}
        <p>{{ hint_text }}</p>
        {% endfor %}

        {% if order_form.role == 'buyer' %}
        <p><a href="v4/supplier_edit">{{ content.supplier[role + "_edit"] }}</a></p>
        {% endif %}

        <p>
          <a href="v4/supplier">
            {% if order_form.sensitive_complete %}
              {{ content.supplier[role + "_link_after"] }}
            {% else %}
              {{ content.supplier[role + "_link"] }}
            {% endif %}
          </a>
        </p>

        {% if order_form.role == 'buyer' %}
          {% set review_path = 'review?review=supplier_details' %}
        {% else %}
          {% set review_path = 'review' %}
        {% endif %}

        {% if role == 'supplier' %}
          <p>
            <a href="v4/{{ review_path }}">
              {{ content.supplier[role + "_review"] }}
            </a>
          </p>
        {% endif %}

        {% if role == 'supplier' and order_form.supplier_submitted %}
        <p><a class="button" type="submit" href="v4/signatory" disabled>Sign</a></p>
        {% endif %}
      </div>
    </div>
  </div>
</main>

{% endblock %}
