{% extends "layout.html" %}

{% block page_title %}
  Award a contract
{% endblock %}

{% block content %}

{% set role = order_form.role %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      {% if supplier_edit %}
      <div class="govuk-box-highlight">
        <p class="font-medium" style="margin-bottom: 0px">
          {{ content.supplier.invited }}
        </p>
      </div>
      {% endif %}

      {% if supplier_signatory_invited %}
      <div class="govuk-box-highlight">
        <p class="font-medium" style="margin-bottom: 0px">
          {{ content.sign.supplier_invited }}
        </p>
      </div>
      {% endif %}

      {% if signed %}
      <div class="govuk-box-highlight">
        <p class="font-medium" style="margin-bottom: 0px">
          {{ content.sign.signed }}
        </p>
      </div>
      {% endif %}

      <h1 class="heading-xlarge">{{ content[role + "_title"] }}</h1>

      {% for paragraph_text in content[role + "_introduction"] %}
      <p>{{ paragraph_text }}</p>
      {% endfor %}

      {% if role == 'supplier' %}
      <ul class="list list-bullet">
        {% for list_text in content.supplier_introduction_list %}
        <li>{{ list_text }}</li>
        {% endfor %}
      </ul>

        {% for intro_text in content.supplier_introduction_two %}
        <p>{{ intro_text }}</p>
        {% endfor %}
      {% endif %}
    </div>

    <div class="column-third">
      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="https://www.gov.uk/guidance/doing-business-with-government-a-guide-for-smes">Doing business with government</a></li>
            <li><a href="https://www.gov.uk/guidance/how-to-award-a-contract-when-you-buy-services">How to award a contract</a></li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>

  {% if order_form.role == 'buyer' %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-medium">
        1. {{ content.contract.text }}

        {% if order_form.terms_complete %}
        <span class="task-completed">Completed</span>
        {% endif %}
      </h2>
      <div class="list-number">
        {% for hint_text in content.contract.hint %}
        <p>{{ hint_text }}</p>
        {% endfor %}
        <p><a href="v4/contract_details">{{ content.contract.link }}</a></p>
        <p><a href="v4/review?review=contract_details">{{ content.contract.review }}</a></p>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-medium">
        2. {{ content.buyer.text }}

        {% if order_form.environmental_complete %}
        <span class="task-completed">Completed</span>
        {% endif %}
      </h2>
      <div class="list-number">
        {% for hint_text in content.buyer.hint %}
        <p>{{ hint_text }}</p>
        {% endfor %}
        <p><a href="v4/buyer">{{ content.buyer.link }}</a></p>
        <p><a href="v4/review?review=buyer_details">{{ content.buyer.review }}</a></p>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-medium">
        {% if role == 'buyer' %}3. {% endif %}{{ content.supplier.text }}

        {% if order_form.sensitive_complete %}
        <span class="task-completed">Completed</span>
        {% endif %}
      </h2>
      <div class="list-number">
        {% for hint_text in content.supplier[role + "_hint"] %}
        <p>{{ hint_text }}</p>
        {% endfor %}

        {% if order_form.role == 'buyer' %}
        <p><a href="v4/supplier_edit">{{ content.supplier[role + "_edit"] }}</a></p>
        {% endif %}

        <p><a href="v4/supplier">{{ content.supplier[role + "_link"] }}</a></p>

        {% if order_form.role == 'buyer' %}
          {% set review_path = 'review?review=supplier_details' %}
        {% else %}
          {% set review_path = 'review' %}
        {% endif %}
        <p><a href="v4/{{ review_path }}">{{ content.supplier[role + "_review"] }}</a></p>
      </div>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      {% if order_form.role == 'buyer' %}
      <h2 class="heading-medium">
        4. {{ content.sign.text }}

        {% if order_form.buyer_signatory_complete and order_form.invite_supplier_signatory_complete %}
        <span class="task-completed">Completed</span>
        {% elif order_form.buyer_signatory_complete %}
        <span class="task-completed">{{ content.sign.signed }}</span>
        {% endif %}
      </h2>
      <div class="list-number">
        {% if not order_form.buyer_signatory_complete and not ((order_form.terms_complete and order_form.environmental_complete and order_form.sensitive_complete)) %}
          {% for hint_text in content.sign.hint %}
          <p>{{ hint_text }}</p>
          {% endfor %}
        {% else %}
          {{ content.sign.button_visible }}
        {% endif %}
        <p><a href="v4/review" role="link">Check the contract</a></p>

        {% if order_form.buyer_signatory_complete %}
        <p><a class="button" href="v4/invite_supplier_signatory">{{ content.sign.supplier_sign }}</a></p>
        {% endif %}

        {% if (order_form.terms_complete and order_form.environmental_complete and order_form.sensitive_complete) and not order_form.buyer_signatory_complete %}
        <p><a class="button" type="submit" href="v4/signatory">{{ content.sign.buyer }}</a></p>
        {% endif %}
      </div>
      {% else %}
      <p><a class="button button-start" type="submit" href="v4/signatory">Sign</a></p>
      {% endif %}
    </div>
  </div>
</main>

{% endblock %}
