<form class="form" action="" method="post">
  <div class="form-group">
    <h2 class="heading-medium">Name</h2>
    <label class="form-label" for="authorised_name">
      <span class="form-hint">
      </span>
    </label>
    <input class="form-control" id="authorised_name" type="text" name="authorised_name">

    <h2 class="heading-medium">Role</h2>
    <label class="form-label" for="authorised_role">
      <span class="form-hint">
      </span>
    </label>
    <input class="form-control" id="authorised_role" type="text" name="authorised_role">

    <h2 class="heading-medium">Email</h2>
    <label class="form-label" for="authorised_email">
      <span class="form-hint">
      </span>
    </label>
    <input class="form-control" id="authorised_email" type="text" name="authorised_email">

    <h2 class="heading-medium">Address</h2>
    <label class="form-label" for="authorised_address">
      <span class="form-hint">
      </span>
    </label>
    <input class="form-control" id="authorised_address" type="text" name="authorised_address">
  </div>

  <div class="form-group">
    <input class="button button-start" type="submit" value="Add">
    <a href="#" class="button button-start">Cancel</a>
  </div>
</form>
