{% if type == 'add_staff' or type == ''%}
<h2 class="heading-medium">{{ content.add_staff.sub_heading }}</h2>
<p>{{ content.add_staff.hint }}</p>
{% endif %}

{% if type == 'add_subcontractors' %}
<h2 class="heading-medium">{{ content.add_subcontractors.sub_heading }}</h2>
<p>{{ content.add_subcontractors.hint }}</p>
{% endif %}

<form class="form" action="" method="post">
  <div class="form-group">
    <h2 class="heading-medium">Name</h2>
    <label class="form-label" for="authorised_name">
      <span class="form-hint">
      </span>
    </label>
    <input class="form-control" id="authorised_name" type="text" name="authorised_name" value="{{ rep.name }}">

    {% if type != 'supplier_subcontractors' %}
    <h2 class="heading-medium">Role</h2>
    <label class="form-label" for="authorised_role">
      <span class="form-hint">
      </span>
    </label>
    <input class="form-control" id="authorised_role" type="text" name="authorised_role" value="{{ rep.role }}">

    <h2 class="heading-medium">Email</h2>
    <label class="form-label" for="authorised_email">
      <span class="form-hint">
      </span>
    </label>
    <input class="form-control" id="authorised_email" type="text" name="authorised_email" value="{{ rep.email }}">

    <h2 class="heading-medium">Address</h2>
    <label class="form-label" for="authorised_address">
      <span class="form-hint">
      </span>
    </label>
    <input class="form-control" id="authorised_address" type="text" name="authorised_address" value="{{ rep.address }}">
    {% endif %}
  </div>

  <div class="form-group">
    <p><input class="button button-start" type="submit" value="Add"></p>
    <p><a href="{{ cancel_path }}">Cancel</a></p>
  </div>
</form>
