<div class="grid-row">
  <div class="column-full">
    {% if review == "contract_details" or not review %}
    <div>
      {% include "v4/_contract_details_review.html" %}
    </div>
    {% endif %}

    {% if review == "buyer_details" or not review %}
    {% if not review %}
    <div style="margin-top:60px">
    {% else %}
    <div>
    {% endif %}
      {% include "v4/_buyer_details_review.html" %}
    </div>
    {% endif %}

    {% if review == "supplier_details" or not review %}
    {% if not review %}
    <div style="margin-top:60px">
    {% else %}
    <div>
    {% endif %}
      {% include "v4/_supplier_details_review.html" %}
    </div>
    {% endif %}
  </div>
</div>

<div class="grid-row" style="margin-top:30px">
  <div class="column-full">
    {% if (order_form.terms_complete and order_form.environmental_complete and order_form.sensitive_complete) and not order_form.buyer_signatory_complete %}
    <p><a class="button" type="submit" href="v4/buyer_signatory">Sign contract</a></p>
    {% endif %}
    <p><a href="/v4">Cancel</a></p>
  </div>
</div>