{% extends "layout.html" %}

{% block page_title %}
  Award a contract
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <a href="{{ back }}" class="link-back">Back</a>

      <h1 class="heading-xlarge">{{ content[header].title }}</h1>

      {% for paragraph_text in content[header].introduction %}
      <p>{{ paragraph_text }}</p>
      {% endfor %}
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <div>
        {% include "v4/_contract_details_review.html" %}
      </div>

      <div style="margin-top:60px">
        {% include "v4/_buyer_details_review.html" %}
      </div>

      <div style="margin-top:60px">
        {% include "v4/_supplier_details_review.html" %}
      </div>
    </div>
  </div>


  <div class="column-two-thirds">
    <h2 class="heading-medium">Sign</h2>
    <div class="list-number">

      {% if not order_form.buyer_signatory_complete %}
        {% for hint_text in content.sign.hint %}
        <p>{{ hint_text }}</p>
        {% endfor %}
      {% endif %}

      {% if order_form.buyer_signatory_complete %}
      <p><a href="v4/invite_supplier_signatory">{{ content.sign.supplier_sign }}</a></p>
      {% else %}
      <p><a href="v4/buyer_signatory">{{ content.sign.buyer }}</a></p>
      {% endif %}
    </div>
  </div>
</main>

{% endblock %}
