<form class="form" action="" method="post">
  <div class="form-group">
    {% if content.role.hint %}
    <span class="form-hint">
      {% for hint_text in content.role.hint %}
      {{ hint_text }}<br>
      {% endfor %}
    </span>
    {% endif %}
    <div class="multiple-choice" data-target="mod-yes">
      {% if order_form.role == "buyer" %}
      <input id="buyer" type="radio" name="role" value="buyer" checked="checked">
      {% else %}
      <input id="buyer" type="radio" name="role" value="buyer">
      {% endif %}
      <label for="buyer">Buyer</label>
    </div>

    <div class="multiple-choice" data-target="mod-yes">
      {% if order_form.role == "supplier" %}
      <input id="supplier" type="radio" name="role" value="supplier" checked="checked">
      {% else %}
      <input id="supplier" type="radio" name="role" value="supplier">
      {% endif %}
      <label for="supplier">Supplier</label>
    </div>
  </div>

  {% include "v4/_save_and_continue.html" %}
</form>
