<span class="form-hint">Step 9 of 9</span>
<form class="form" action="" method="post">
  <div class="form-group">
    <h2 class="heading-medium-first">{{ content.terms.special_terms.label }}</h2>
    <label class="form-label" for="special_terms">
      {% if content.special_terms.hint %}
      <span class="form-hint">
        {% for hint_text in content.special_terms.hint %}
        {{ hint_text }}<br>
        {% endfor %}
      </span>
      {% endif %}
    </label>
    <textarea class="form-control form-control-3-4" name="special_terms" id="special_terms" rows="10">{{ order_form.special_terms }}</textarea>
    {% for file in order_form.files.special_terms_files %}
    <p>{{ file }}</p>
    {% endfor %}
    <label class="form-label" for="special_terms_files" style="margin-top: 20px">
      Upload a file
    </label>
    <input type="file" name="special_terms_files" id="special_terms_files">
  </div>

  {% include "v4/_save_and_continue.html" %}
</form>
