<form class="form" action="" method="post">
  <div class="form-group">
    <h2 class="heading-medium">{{ content.what.form.details.label }}</h2>
    <label class="form-label" for="what">
      <span class="form-hint">
        {% for hint_text in content.what.form.details.hint %}
        {{ hint_text }}<br>
        {% endfor %}
      </span>
    </label>
    <textarea class="form-control form-control-3-4" name="what" id="what" rows="10">{% if order_form.what %}{{ order_form.what }}{% else %}This information should include:

    what you want to call your requirements
    why this work is being done, for example an organisation or policy goal
    the problem you want to solve
    the citizen or ‘end user’ that this work is being carried out for, and what they want to do
    phase the work is currently in: discovery, alpha, beta, or live
    existing team the supplier will be working with
    working arrangements, for example the supplier should be onsite 3 days a week for face-to-face meetings
    details of work that’s already been done, for example a discovery phase or early market engagement
    any terms or conditions you want to add to the standard contract {% endif %}</textarea>
  </div>

  <div class="form-group">
    <input class="button button-start" type="submit" value="Save and continue">
    <a href="#" class="button button-start">Cancel</a>
  </div>
</form>