<form class="form" action="" method="post">
  <div class="form-group">
    <h2 class="heading-medium">{{ content.what.form.details.label }}</h2>
    <label class="form-label" for="what">
      <span class="form-hint">
        {{ content.what.form.details.hint }}
      </span>
    </label>
    <textarea class="form-control form-control-3-4" name="what" id="what" rows="20">{% if order_form.what %}{{ order_form.what }}{% else %}{% endif %}</textarea>
  </div>

  {% include "v4/_save_and_continue.html" %}
</form>
