{% extends "layout.html" %}

{% block page_title %}
  Build a public sector contract
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Core terms
      </h1>

      <p>The core terms are CCS's standard commercial terms for both framework and call-off contracts. 
      <br>
      They can't be changed and provide consistency on subjects including:
        
      
</p>

      <p><a href="">Download</a></p>

    </div>

  </div>

</main>

{% endblock %}
