{% extends "layout.html" %}

{% block page_title %}
  Build a public sector contract
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Core terms
      </h1>

      <p>The core terms are designed not to be changed. They must be used on every contract.
      <br>
      The core terms apply at framework and call-off level.</p>

      <p><a href="">Download</a></p>

    </div>

  </div>

</main>

{% endblock %}
