{% extends "layout.html" %}

{% block page_title %}
  Build a public sector contract
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="../create-contract">Back</a>

      <h1 class="heading-xlarge">
        Framework award form
      </h1>

      <p>The framework award form details what the supplier's going to sell through the framework.</p>

      <p><a href="">Download the framework award form</a></p>

    </div>

  </div>

</main>

{% endblock %}
