{% extends "layout.html" %}

{% block page_title %}
  Build a public sector contract
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="../create-contract">Back</a>

      <h1 class="heading-xlarge">
       Schedules
      </h1>

      <p>This document would contain information about the mandatory and optional schedules.</p>

      <p><a href="">Download</a></p>

    </div>

  </div>

</main>

{% endblock %}
