{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="contract">Back</a>

      <form class="form" method="post">
        <div class="form-group">
          <fieldset>

            <legend>
              <h1 class="heading-large">{{ schedule.name }}</h1>
            </legend>

            <p>
                {{ schedule.decision_text | safe }}
            </p>

            <h2 class="heading-medium">Would you like to {{ addOrRemove }} this schedule?</h2>

            <div class="multiple-choice">
              <input id="yesno-yes" type="radio" name="yesno" value="Yes">
              <label for="yesno-yes">Yes</label>
            </div>

            <div class="multiple-choice">
              <input id="yesno-no" type="radio" name="yesno" value="No">
              <label for="yesno-no">No</label>
            </div>
          </fieldset>
        </div>

        <div class="form-group">
          <p>Add comment (optional)</p>
          <label>context</label>
          <textarea rows="4" cols="50"></textarea>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Confirm">
        </div>
      </form>

    </div>
  </div>
</main>

{% endblock %}
