{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="contract">Back</a>

      <form class="form" action="contract" method="post">
        <div class="form-group">
          <fieldset>

            <legend>
              <h1 class="heading-large">Add/Remove {{ schedule.name }}</h1>
            </legend>

            <p>Context sentence here</p>

            <div class="multiple-choice" data-target="technology-yes">
              <input id="technology" type="radio" name="technology" value="Yes" {% if data['technology'] == 'Yes' %}checked="checked"{% endif %}>
              <label for="technology">Yes</label>
            </div>

            <div class="multiple-choice" data-target="technology-no">
              <input id="technology" type="radio" name="technology" value="No" {% if data['technology'] == 'No' %}checked="checked"{% endif %}">
              <label for="technology">No</label>
            </div>

          </fieldset>
        </div>

        <div class="form-group">
          <p>Add comment (optional)</p>
          <label>context</label>
          <textarea rows="4" cols="50"></textarea>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Add/Remove schedule">
        </div>
      </form>

    </div>
  </div>
</main>

{% endblock %}
