{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="team-members" class="link-back">Back</a>

      <h1 class="heading-large">
        {{ data['reference-number'] }}
      </h1>


      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `cya-questions-short` for short questions -->
      <!--   * `cya-questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Created by
          </dt>
          <dd class="cya-answer">
            Firstname Lastname
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Last updated
          </dt>
          <dd class="cya-answer">
            27 March 2018
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Status
          </dt>
          <dd class="cya-answer">
            Draft
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Version
          </dt>
          <dd class="cya-answer">
            1.0
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Sourcing manager
          </dt>
          <dd class="cya-answer">
            your-email@crowncommercial.gov.uk
          </dd>
        </div>
      </dl>


      <h2 class="heading-medium">Documents</h2>

      <p class="text">
        This framework contract is made up of the:
      </p>

      <a href="schedule">Core terms</a><br>
      <a href="schedule">Framework award form</a><br>
      <a href="schedule">Call-off order form</a><br>

      <h3 class="heading-small">Mandatory schedules</h3>
      {% for schedule in schedules %}
        {% if schedule.optional == false %}
        <a href="schedule/{{ loop.index }}">{{ schedule.name }}</a><br>
        {% endif %}
      {% endfor %}

      <div class="form-group" style="margin-top: 20px">
        <a href="../public/files/example-contract.zip" class="button">Download</a>
      </div>

      <h3 class="heading-small">Optional schedules</h3>
      {% for schedule in schedules %}
        {% if schedule.optional == true %}
        <a href="schedule/{{ loop.index }}">{{ schedule.name }}</a> - <a href="add-remove-schedule">Add</a><br>
        {% endif %}
      {% endfor %}

    </div>
  </div>
</main>

{% endblock %}
