{% extends "layout.html" %}

{% block page_title %}
  Create a contract
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Create a contract
      </h1>

      <p>Download the latest versions of the documents you need for your procurement.</p>

      <p>Some of the documents are optional, but others must be used by everyone.</p>

      <p>Answer the questions to decide which you need. There are 6 questions in total.</p>

      <p>
        <a class="button button-start" href="/v2/what-is-the-public-sector-contract" role="button">Get the documents</a>
      </p>

      <h2 class="heading-medium">Before you start</h2>

      <p>It would help if you have the:</p>

      <ul class="list list-bullet">
        <li>requirements</li>
        <li>business case</li>
      </uL>

    </div>
  </div>

</main>

{% endblock %}
