{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="what-is-the-public-sector-contract">Back</a>

      <h1 class="heading-large">Contract name</h1>

      <form class="form" action="contract" method="post">

        <div class="form-group">
          <h2 class="heading-medium">Framework reference number</h2>
          <label class="form-label" for="reference-number">
            <span class="form-hint">
             This is also known as the RM number. If you don't know it yet, just add something and change it later.
            </span>
          </label>
          <input class="form-control" id="reference-number" type="text" name="reference-number" value="{{ data['reference-number'] }}">
        </div>

        <div class="form-group">
          <h2 class="heading-medium">Name</h2>
          <label class="form-label" for="reference-number">
            <span class="form-hint">
              Name your contract so you can find it easily when you log back in to the system. You can always change this.
            </span>
          </label>
          <input class="form-control" id="contract_name" type="text" name="contract_name" value="{{ data['contract_name'] }}">
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
      </form>

    </div>
  </div>
</main>

{% endblock %}
