{% extends "layout.html" %}

{% block page_title %}
  Build a public sector contract
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="contract">Back</a>

      <h1 class="heading-xlarge">
       {{ schedule.name }}
      </h1>

      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Version
          </dt>
          <dd class="cya-answer">
            3
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Last updated
          </dt>
          <dd class="cya-answer">
            20 February 2018
          </dd>
        </div>
      </dl>

      <p style="margin-top: 30px">This document would contain information about the mandatory and optional schedules.</p>

      <embed src="http://www.pdf995.com/samples/pdf.pdf" width="800" height="1000" type='application/pdf'>

      <p><a href="" class="button">Download</a></p>

    </div>

  </div>

</main>

{% endblock %}
