{% extends "layout.html" %}

{% block page_title %}
  The contract documents
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="/v2/index" class="link-back">Back</a>

      <h1 class="heading-large">
        The contract documents
      </h1>

      <p class="text" style="margin-top: 40px">
        
      Enter the details of your procurement and who's going to be working on it.

      You can look at any of the documents before you start. </p>

      <div class="form-group" style="margin-top: 20px">
        <a href="reference-number" class="button">Continue</a>
      </div>

      <h3 class="heading-small">Contract documents</h3>

      <p>These documents have to be used in every procurement.</p>

      {% for schedule in schedules %}
        {% if schedule.optional == false %}
        <a href="schedule/{{ loop.index }}">{{ schedule.name }}</a>
        <p>{{ schedule.context }}</p>
        {% endif %}
      {% endfor %}

      <h3 class="heading-small">Optional schedules</h3>
      {% for schedule in schedules %}
        {% if schedule.optional == true %}
        <a href="schedule/{{ loop.index }}">{{ schedule.name }}</a>
        <p>{{ schedule.context }}</p>
        {% endif %}
      {% endfor %}

      <div class="form-group" style="margin-top: 20px">
        <a href="reference-number" class="button">Continue</a>
      </div>

    </div>
  </div>
</main>

{% endblock %}
