{% extends "layout.html" %}

{% block page_title %}
  The contract documents
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="award-type" class="link-back">Back</a>

      <h1 class="heading-large">
        The contract documents
      </h1>

      <p class="text" style="margin-top: 40px">
        
      You can view and download each of the individual sections of the contract.</p>

      <p>Click on the document names to find out more about each document.</p>

      <p>You can also decide whether you need to add any of the optional schedules to your contract.
        
      </p>
      
      <h3 class="heading-small">Contract documents</h3>
      
      <p>These documents must be used in every procurement.</p>
      
      <a href="">Core terms</a>
      <p>
        Standards CCS terms for common goods and services bought using a framework agreement.
      </p>

      <a href="">Framework award form</a>
      <p>
        Where CCS and suppliers sign the contract and the place that tells you what you need to know to form the contract.
      </p>

      <a href="">Call-off order form</a>
      <p>
        Details the goods or service being bought, what they’ll cost and how they’ll be delivered.
      </p>

{% set mandatory_schedules = [
    <a href="">'Framework schedule 1: Specification',</a>
       <p>
        Standards CCS terms for common goods and services bought using a framework agreement.
      </p> 
    <a href="">'Framework schedule 2: Framework tender',</a>
       <p>
        Standards CCS terms for common goods and services bought using a framework agreement.
      </p>  
    <a href="">'Framework schedule 3: Framework prices',</a>
       <p>
        Standards CCS terms for common goods and services bought using a framework agreement.
      </p>  
    <a href="">'Framework schedule 4: Framework management',</a>
       <p>
        Standards CCS terms for common goods and services bought using a framework agreement.
      </p>  
    <a href="">'Framework schedule 5: Management charges and information',</a>
       <p>
        Standards CCS terms for common goods and services bought using a framework agreement.
      </p>  
    <a href="">'Framework schedule 6: Call-off award procedure',</a>
        <p>
        Standards CCS terms for common goods and services bought using a framework agreement.
      </p>  
     <a href="">'Framework schedule 7: Self audit certificate',</a>
        <p>
        Standards CCS terms for common goods and services bought using a framework agreement.
      </p> 
    <a href="">'Joint schedule 1: Definitions',</a>
       <p>
        Standards CCS terms for common goods and services bought using a framework agreement.
      </p> 
    <a href="">'Joint schedule 2: Variation form',</a>
       <p>
        Standards CCS terms for common goods and services bought using a framework agreement.
      </p> 
    <a href="">'Joint schedule 3: Insurance requirements',</a>
      <p>
        Standards CCS terms for common goods and services bought using a framework agreement.
      </p> 
    <a href="">'Joint schedule 4: Commercially sensitive information',</a>
       <p>
        Standards CCS terms for common goods and services bought using a framework agreement.
      </p> 
    <a href="">'Joint schedule 5: Corporate social responsibility',</a>
       <p>
        Standards CCS terms for common goods and services bought using a framework agreement.
      </p> 
    <a href="">'Joint schedule 6: Rectification plan',</a>
       <p>
        Standards CCS terms for common goods and services bought using a framework agreement.
      </p> 
    <a href="">'Joint schedule 7: Processing data',</a>
       <p>
        Standards CCS terms for common goods and services bought using a framework agreement.
      </p> 
    <a href="">'Joint schedule 8: Definitions',</a>
      <p>
        Standards CCS terms for common goods and services bought using a framework agreement.
      </p> 
    <a href="">'Call-off schedule 1: Transparency reports',</a>
      <p>
        Standards CCS terms for common goods and services bought using a framework agreement.
      </p> 
    <a href="">'Call-off schedule 2: Staff transfer',</a>
      <p>
        Standards CCS terms for common goods and services bought using a framework agreement.
      </p> 
    <a href="">'Call-off schedule 3: Continuous improvement',</a>
      <p>
        Standards CCS terms for common goods and services bought using a framework agreement.
      </p> 
    <a href="">'Call-off schedule 4: Exit management'</a>
      <p>
        Standards CCS terms for common goods and services bought using a framework agreement.
      </p> 
  ]
%}
      <h3 class="heading-small">Mandatory schedules</h3>
      {% for schedule in mandatory_schedules %}
        <a href="">{{ schedule }}</a><br>
      {% endfor %}

      <div class="form-group" style="margin-top: 20px">
        <a href="reference-number" class="button">Create framework contract</a>
      </div>

    </div>

    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="https://ccs-agreements.cabinetoffice.gov.uk/">Find a framework agreement</a></li>
            <li><a href="#">OJEU notice</a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
</main>

{% endblock %}
