{% if review == "buyer_details" %}
  {% set buyer_change = "buyer_details" %}
{% else %}
  {% set buyer_change = "all" %}
{% endif %}

<dl class="govuk-check-your-answers cya-questions-short">
  <div>
    <dt class="cya-question">
      <h2 class="heading-medium">{{ content.buyer.title }}</h2>
    </dt>
    <dd class="cya-answer">
    </dd>
    <dd class="cya-change">
    </dd>
  </div>

  <div>
    <dt class="cya-question" style="border-bottom:none">
      {{ content.buyer.name.label }}
    </dt>
    <dd class="cya-answer" style="border-bottom:none">
      <div>
        {% if order_form.buyer_name %}
          {{ order_form.buyer_name }}
        {% else %}
          {{ content.prefill.buyer_name }}
        {% endif %}
      </div>
      </dd>
    <dd class="cya-change" style="border-bottom:none">
      {% if order_form.role == 'buyer' %}
      <a href="/v4/buyer?review={{ buyer_change }}">Change</a>
      {% endif %}
    </dd>
  </div>

  <div>
    <dt class="cya-question" style="border-bottom:none">
      {{ content.buyer.address.label }}
    </dt>
    <dd class="cya-answer" style="border-bottom:none">
      {% if order_form.buyer_address %}
        {{ order_form.buyer_address }}
      {% else %}
        {{ content.prefill.buyer_address }}
      {% endif %}
    </dd>
    <dd class="cya-change" style="border-bottom:none">
    </dd>
  </div>

  <div>
    <dt class="cya-question" style="border-bottom:none">
      {{ content.buyer.invoice_address.label }}
    </dt>
    <dd class="cya-answer" style="border-bottom:none">
      {% if order_form.role == 'supplier' %}
        {{ content.prefill.buyer_address }}
      {% else %}
        {{ order_form.invoice_address }}
      {% endif %}
    </dd>
    <dd class="cya-change" style="border-bottom:none">
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      {{ content.buyer_representative.title }}
    </dt>
    <dd class="cya-answer">
      {% if order_form.role == 'supplier' %}
        {{ content.prefill.buyer_who_will_sign }}
      {% else %}
        <p>{{ order_form.buyer_representative[0].name }}</p>
        <p>{{ order_form.buyer_representative[0].role }}</p>
        <p>{{ order_form.buyer_representative[0].email }}</p>
        <p>{{ order_form.buyer_representative[0].phone }}</p>
        <p>{{ order_form.buyer_representative[0].address }}</p>
      {% endif %}
    </dd>
    <dd class="cya-change"></dd>
  </div>

  <div>
    <dt class="cya-question">
      Contract manager
    </dt>
    <dd class="cya-answer">
      {% if order_form.role == 'supplier' %}
        {{ content.prefill.buyer_contract_manager }}
      {% else %}
        {% if order_form.buyer_contract_manager_name %}
          {% include "v4/includes/_buyer_contract_manager_review.html" %}
        {% endif %}
      {% endif %}
    </dd>
    <dd class="cya-change">
      {% if order_form.role == 'buyer' %}
      <a href="/v4/buyer_contract_manager?review={{ buyer_change }}">Change</a>
      {% endif %}
    </dd>
  </div>

  <div>
    <dt class="cya-question" style="border-bottom:none">
      {{ content.environmental.label }}
    </dt>
    {% if (not order_form.files.environmental_policy_files | length) or (not order_form.environmental_policy) %}
    <dd class="cya-answer" style="border-bottom:none">
    {% else %}
    <dd class="cya-answer">
    {% endif %}
      {% if order_form.role == 'supplier' %}
        {{ content.prefill.environmental_policy }}
      {% else %}
        <p>{{ order_form.environmental_policy }}</p>
        {% for file in order_form.files.environmental_policy_files %}
        <p>{{ file }}</p>
        {% endfor %}
      {% endif %}
    </dd>
    <dd class="cya-change" style="border-bottom:none">
      {% if order_form.role == 'buyer' %}
      <a href="/v4/environmental?review={{ buyer_change }}">Change</a>
      {% endif %}
    </dd>
  </div>

  <div>
    <dt class="cya-question" style="border-bottom:none">
      {{ content.security.label }}
    </dt>
    <dd class="cya-answer" style="border-bottom:none">
      {% if order_form.role == 'supplier' %}
        {{ content.prefill.security_policy }}
      {% else %}
        <p>{{ order_form.security_policy }}</p>
        {% for file in order_form.files.security_policy_files %}
        <p>{{ file }}</p>
        {% endfor %}
      {% endif %}
    </dd>
    <dd class="cya-change" style="border-bottom:none"></dd>
  </div>

  <div>
    <dt class="cya-question">
      {{ content.additional_policy.label }}
    </dt>
    <dd class="cya-answer">
      {% for link in order_form.links.additional_policy_links %}
        <p>{{ link }}</p>
      {% endfor %}

      {% for file in order_form.files.additional_policy_files %}
        <p>{{ file }}</p>
      {% endfor %}
    </dd>
    <dd class="cya-change"></dd>
  </div>
</dl>
