<span class="form-hint">Step 2 of 3</span>
<form class="form" action="" method="post">
  <h2 class="heading-medium-first">Contract manager</h2>
  {% if content.buyer_contract_manager.hint %}
    {% for hint_text in content.buyer_contract_manager.hint %}
    <p>{{ hint_text }}</p>
    {% endfor %}
  {% endif %}

  <div class="form-group">
    <h2 class="heading-medium">Name</h2>
    <label class="form-label" for="buyer_contract_manager_name">
      <span class="form-hint">
      </span>
    </label>
    <input class="form-control" id="buyer_contract_manager_name" type="text" name="buyer_contract_manager_name" value="{{ order_form.buyer_contract_manager_name }}">

    <h2 class="heading-medium">Role</h2>
    <label class="form-label" for="buyer_contract_manager_role">
      <span class="form-hint">
      </span>
    </label>
    <input class="form-control" id="buyer_contract_manager_role" type="text" name="buyer_contract_manager_role" value="{{ order_form.buyer_contract_manager_role }}">

    <h2 class="heading-medium">Email</h2>
    <label class="form-label" for="buyer_contract_manager_email">
      <span class="form-hint">
      </span>
    </label>
    <input class="form-control" id="buyer_contract_manager_email" type="text" name="buyer_contract_manager_email" value="{{ order_form.buyer_contract_manager_email }}">

    <h2 class="heading-medium">Address</h2>
    <label class="form-label" for="buyer_contract_manager_address">
      <span class="form-hint">
      </span>
    </label>
    <input class="form-control" id="buyer_contract_manager_address" type="text" name="buyer_contract_manager_address" value="{{ order_form.buyer_contract_manager_address }}">
  </div>

  {% include "v4/includes/_save_and_continue.html" %}
</form>
