<aside class="govuk-related-items" role="complementary">
  <p>{{ content.buyer_terms_conditions }}</p>
  <p>
    <a class="button" href="v4/terms_and_conditions">
      Terms and conditions
    </a>
  </p>

  {% if order_form.complete and not order_form.buyer_signatory_complete %}
   <h2 class="heading-medium" style="padding-top:20px">Next steps</h2>

    {% if not order_form.invite_supplier_signatory_complete %}
      <p>
        <a class="button" href="v4/invite_supplier_signatory">
          Invite supplier to sign
        </a>
      </p>
    {% endif %}

    {% if order_form.buyer_signatory_complete %}
      <span class="task-completed">
      You have signed the contract</span>
    {% else %}
      <p>
        <a class="button" type="submit" href="v4/signatory">
          {{ content.sign.buyer }}
        </a>
      </p>
    {% endif %}
  {% endif %}

  {% if order_form.invite_supplier_signatory_complete or order_form.buyer_signatory_complete %}
    <h2 class="heading-medium" style="padding-top:20px">Progress</h2>

    {% if order_form.invite_supplier_signatory_complete %}
      <div style="float:left;padding-left:2px;">
        <p style="padding-bottom:40px">
          <span class="task-completed">The supplier has been invited to sign</span>
        </p>
      </div>
    {% endif %}

    {% if order_form.buyer_signatory_complete %}
      <div>
        <span class="task-completed">You have signed the contract</span>
      </div>
    {% endif %}
  {% endif %}
</aside>
