<aside class="govuk-related-items" role="complementary">
  <div class="next-steps">
    {% if order_form.complete and not order_form.buyer_signatory_complete %}
      <div style="padding-bottom:10px">
        <h2 class="heading-medium">Next steps</h2>

        <p>{{ content.sign.supplier_sign }}</p>

        {% if not order_form.invite_supplier_signatory_complete %}
          <p>
            <a class="button" href="#">
              Invite supplier to sign
            </a>
          </p>
        {% endif %}

        {% if order_form.buyer_signatory_complete %}
          <span class="task-completed">
          You have signed the contract</span>
        {% else %}
          <p>
            <a class="button" type="submit" href="#">
              {{ content.sign.buyer }}
            </a>
          </p>
        {% endif %}
      </div>
    {% endif %}

    <p>{{ content.buyer_terms_conditions }}</p>
    <p>
      <a class="button" href="v4/terms_and_conditions">
        Terms and conditions
      </a>
    </p>
  </div>
</aside>
