<span class="form-hint">Step 3 of 9</span>
<form class="form" action="" method="post">
  <div class="form-group">
    <h2 class="heading-medium-first">{{ content.charges.call_off.label }}</h2>
    <label class="form-label" for="call_off_charges">
      {% if content.charges.call_off.hint %}
      <span class="form-hint">
        {% for hint_text in content.charges.call_off.hint %}
        {{ hint_text }}<br>
        {% endfor %}
      </span>
      {% endif %}
    </label>
    <textarea class="form-control form-control-3-4" name="call_off_charges" id="call_off_charges" rows="10">{{ order_form.call_off_charges }}</textarea>

    {% for file in order_form.files.call_off_charges_files %}
    <p>{{ file }}</p>
    {% endfor %}

    <label class="form-label" for="call_off_charges_files" style="margin-top: 20px">
      Upload a file
    </label>
    <input type="file" name="call_off_charges_files" id="call_off_charges_files" class="file-upload-input">

    <h2 class="heading-medium">{{ content.liability.max_liability.label }}</h2>
    <label class="form-label" for="liability">
      {% if content.liability.max_liability.hint %}
      <span class="form-hint">
        {% for hint_text in content.liability.max_liability.hint %}
        {{ hint_text }}<br>
        {% endfor %}
      </span>
      {% endif %}
    </label>
    <input class="form-control" id="liability" type="text" name="liability" value="{{ order_form.liability }}">
  </div>

  {% include "v4/includes/_save_and_continue.html" %}
</form>