{% if review == "contract_details" %}
  {% set contract_change = "contract_details" %}
{% else %}
  {% set contract_change = "all" %}
{% endif %}

<dl class="govuk-check-your-answers cya-questions-short">
  <div>
    <dt class="cya-question">
      <h2 class="heading-medium">{{ content.contract_details.title }}</h2>
    </dt>
    <dd class="cya-answer">
    </dd>
    <dd class="cya-change">
    </dd>
  </div>

  <div>
    <dt class="cya-question" style="border-bottom:none">
      {{ content.contract_details.reference.label }}
    </dt>
    <dd class="cya-answer" style="border-bottom:none">
      <div>
        {% if order_form.reference_number %}
          {{ order_form.reference_number }}
        {% else %}
          RM05625751
        {% endif %}
      </div>
      </dd>
    <dd class="cya-change" style="border-bottom:none">
      {% if order_form.role == 'buyer' and order_form.terms_complete %}
        <a href="/v4/contract_details?review={{ contract_change }}">Change</a>
      {% endif %}
    </dd>
  </div>

  <div>
    <dt class="cya-question" style="border-bottom:none">
      Start date
    </dt>
    <dd class="cya-answer" style="border-bottom:none">
      {% if order_form.start_date_day %}
        {{ order_form.start_date_day }}/{{ order_form.start_date_month}}/{{ order_form.start_date_year }}
      {% else %}
        01/06/18
      {% endif %}
    </dd>
    <dd class="cya-change" style="border-bottom:none">
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      End date
    </dt>
    <dd class="cya-answer">
      {% if order_form.end_date_day %}
        {{ order_form.end_date_day }}/{{ order_form.end_date_month}}/{{ order_form.end_date_year }}
      {% else %}
        01/06/20
      {% endif %}
    </dd>
    <dd class="cya-change"></dd>
  </div>

  <div>
    <dt class="cya-question">
      {{ content.what.details.label }}
    </dt>
    <dd class="cya-answer">
      {% if order_form.role == 'supplier' %}
        {{ content.prefill.about_the_purchase }}
      {% else %}
        {{ order_form.what }}
      {% endif %}
    </dd>
    <dd class="cya-change">
      {% if order_form.role == 'buyer' and order_form.terms_complete %}
        <a href="/v4/what?review={{ contract_change }}">Change</a>
      {% endif %}
    </dd>
  </div>

  <div>
    <dt class="cya-question" style="border-bottom:none">
      {{ content.charges.call_off.label }}
    </dt>
    <dd class="cya-answer" style="border-bottom:none">
      {% if order_form.role == 'supplier' %}
        <p>{{ content.prefill.price }}</p>
      {% else %}
        <p>{{ order_form.call_off_charges }}</p>
        {% for file in order_form.files.call_off_charges_files %}
        <p>{{ file }}</p>
        {% endfor %}
      {% endif %}
    </dd>
    <dd class="cya-change" style="border-bottom:none">
      {% if order_form.role == 'buyer' and order_form.terms_complete %}
        <a href="/v4/charges?review={{ contract_change }}">Change</a>
      {% endif %}
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      {{ content.liability.max_liability.label }}
    </dt>
    <dd class="cya-answer">
      {% if order_form.role == 'supplier' %}
        {{ content.prefill.maximum_liability }}
      {% else %}
        {{ order_form.liability }}
      {% endif %}
    </dd>
    <dd class="cya-change"></dd>
  </div>

  <div>
    <dt class="cya-question">
      {{ content.expenses.reimbursable.label }}
    </dt>
    <dd class="cya-answer">
      {% if order_form.role == 'supplier' %}
        {{ content.prefill.supplier_expenses }}
      {% else %}
        {{ order_form.expenses }}
      {% endif %}
    </dd>
    <dd class="cya-change">
      {% if order_form.role == 'buyer' and order_form.terms_complete %}
        <a href="/v4/expenses?review={{ contract_change }}">Change</a>
      {% endif %}
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      {{ content.payment.label }}
    </dt>
    <dd class="cya-answer">
      {% if order_form.role == 'supplier' %}
        {{ content.prefill.how_to_pay }}
      {% elif order_form.payment == 'Other' %}
        {{ order_form.payment_other }}
      {% else %}
        {{ order_form.payment }}
      {% endif %}
    </dd>
    <dd class="cya-change">
      {% if order_form.role == 'buyer' and order_form.terms_complete %}
        <a href="/v4/payment?review={{ contract_change }}">Change</a>
      {% endif %}
    </dd>
  </div>

  <div>
    <dt class="cya-question" style="border-bottom:none">
      {{ content.credits.service_credits.label }}
    </dt>
    <dd class="cya-answer" style="border-bottom:none">
      {% if order_form.role == 'supplier' %}
        {{ content.prefill.insurance }}
      {% else %}
        {{ order_form.service_credits }}
      {% endif %}
    </dd>
    <dd class="cya-change" style="border-bottom:none">
      {% if order_form.role == 'buyer' and order_form.terms_complete %}
        <a href="/v4/credits?review={{ contract_change }}">Change</a>
      {% endif %}
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      {{ content.guarantee.label }}
    </dt>
    <dd class="cya-answer">
      {% if order_form.role == 'supplier' %}
        {{ content.prefill.guarantee }}
      {% else %}
        {{ order_form.guarantee }}
      {% endif %}
    </dd>
    <dd class="cya-change">
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      {{ content.progress.report.label }}
    </dt>
    <dd class="cya-answer">
      {% if order_form.role == 'supplier' %}
        {{ content.prefill.working_together }}
      {% else %}
        {{ order_form.progress_report }}
      {% endif %}
    </dd>
    <dd class="cya-change">
      {% if order_form.role == 'buyer' and order_form.terms_complete %}
        <a href="/v4/progress?review={{ contract_change }}">Change</a>
      {% endif %}
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      {{ content.terms.special_terms.label }}
    </dt>
    <dd class="cya-answer">
      {% if order_form.role == 'supplier' %}
        {{ content.prefill.special_terms }}
      {% else %}
        <p>{{ order_form.special_terms }}</p>
        {% for file in order_form.files.special_terms_files %}
        <p>{{ file }}</p>
        {% endfor %}
      {% endif %}
    </dd>
    <dd class="cya-change">
      {% if order_form.role == 'buyer' and order_form.terms_complete %}
      <a href="/v4/terms?review={{ contract_change }}">Change</a>
      {% endif %}
    </dd>
  </div>
</dl>
