<span class="form-hint">Step 6 of 9</span>
<form class="form" action="" method="post">
  <div class="form-group">
    <h2 class="heading-medium-first">{{ content.credits.service_credits.label }}</h2>
    <label class="form-label" for="service_credits">
      {% if content.credits.service_credits.hint %}
      <span class="form-hint">
        {% for hint_text in content.credits.service_credits.hint %}
        {{ hint_text }}<br>
        {% endfor %}
      </span>
      {% endif %}
    </label>
    <input class="form-control" id="service_credits" type="text" name="service_credits" value="{{ order_form.service_credits }}">
  </div>

  {% include "v4/includes/_save_and_continue.html" %}
</form>