<span class="form-hint">Step 4 of 8</span>
<form class="form" action="" method="post">
  <div class="form-group">
    <h2 class="heading-medium-first">{{ content.expenses.reimbursable.label }}</h2>
    <label class="form-label" for="expenses">
      {% if content.expenses.reimbursable.hint %}
      <span class="form-hint">
        {% for hint_text in content.expenses.reimbursable.hint %}
        {{ hint_text }}<br>
        {% endfor %}
      </span>
      {% endif %}
    </label>
    <textarea class="form-control form-control-3-4" name="expenses" id="expenses" rows="10">{{ order_form.expenses }}</textarea>
  </div>

  {% include "v4/includes/_save_and_continue.html" %}
</form>