<span class="form-hint">Step 5 of 8</span>
<form class="form" action="" method="post">
  <div class="form-group">
    <h2 class="heading-medium-first">{{ content.payment.label }}</h2>
    {% if content.payment.hint %}
    <span class="form-hint">
      {% for hint_text in content.payment.hint %}
        {{ hint_text }}<br>
      {% endfor %}
    </span>
    {% endif %}

    {% for method in content.payment.methods %}
      {% set id = method.replace(" ", "-").toLowerCase() %}
      <div class="multiple-choice" data-target="mod-yes">
        {% if order_form.payment == method %}
          {% if method == 'Other' %}
          <input id={{ id }} type="radio" name="payment" value="{{ method }}" checked="checked" onclick="toggle('show')">
          {% else %}
          <input id={{ id }} type="radio" name="payment" value="{{ method }}" checked="checked">
          {% endif %}
        {% else %}
          {% if method == 'Other' %}
          <input id={{ id }} type="radio" name="payment" value="{{ method }}" onclick="toggle('show')">
          {% else %}
          <input id={{ id }} type="radio" name="payment" value="{{ method }}" onclick="toggle('hide')">
          {% endif %}
        {% endif %}

        <label for={{ id }}>{{ method }}</label>
      </div>
    {% endfor %}
  </div>

  {% if order_form.payment == 'Other' %}
  <div class="form-group" id="payment_other">
  {% else %}
  <div class="form-group" style="display:none" id="payment_other">
  {% endif %}
  <textarea class="form-control form-control-3-4" name="payment_other" id="payment_other" rows="10">{{ order_form.payment_other }}</textarea>
  </div>

  {% include "v4/includes/_save_and_continue.html" %}
</form>
