<div class="grid-row">
  <div class="column-full">
    {% if review == "contract_details" or not review %}
    <div>
      {% include "v4/includes/_contract_details_review.html" %}
    </div>
    {% endif %}

    {% if review == "buyer_details" or not review %}
    {% if not review %}
    <div style="margin-top:60px">
    {% else %}
    <div>
    {% endif %}
      {% if order_form.role == 'buyer' %}
        {% include "v4/includes/_buyer_details_review.html" %}
      {% else %}
        {% include "v4/includes/_supplier_details_review.html" %}
      {% endif %}
    </div>
    {% endif %}

    {% if review == "supplier_details" or not review %}
    {% if not review %}
    <div style="margin-top:60px">
    {% else %}
    <div>
    {% endif %}
      {% if review or order_form.role == 'buyer' %}
        {% include "v4/includes/_supplier_details_review.html" %}
      {% else %}
        {% include "v4/includes/_buyer_details_review.html" %}
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>

<div class="grid-row" style="margin-top:30px">
  <div class="column-full">
    {% if not review and (order_form.terms_complete and order_form.environmental_complete and order_form.sensitive_complete) and not order_form.buyer_signatory_complete %}
    <p><a class="button button-start" type="submit" href="/v4/signatory">Sign contract</a></p>
    {% else %}
      {% if order_form.role == "supplier" and order_form.sensitive_complete and not review %}
        {% set button_link = "/v4?supplier_submitted=true" %}
        {% set button_text = "Submit" %}
      {% else %}
        {% set button_link = "/v4" %}
        {% set button_text = "Save" %}
      {% endif %}
      <p><a href="{{ button_link }}" class="button button-start">{{ button_text }}</a></p>
    {% endif %}
  </div>
</div>