{% if review %}
  {% set save_text = "Save" %}
{% else %}
  {% set save_text = "Save and continue" %}
{% endif %}

{% if page == "role" %}
  {% set cancel_link = "/" %}
{% else %}
  {% set cancel_link = "/v4" %}
{% endif %}

{% if page == 'policy' or 'contract_manager' in page %}
  {% if rep.id or edit %}
    {% set save_text = "Save" %}
  {% else %}
    {% set save_text = "Add" %}
  {% endif %}
{% endif %}

<div class="form-group">
  <p><input class="button" type="submit" value="{{ save_text }}"></p>
  <p><a href="{{ cancel_link }}">Cancel</a></p>
</div>
