{% for subcontractor in order_form.add_subcontractors %}
<dl class="govuk-check-your-answers cya-questions-short" style="padding-bottom:10px">
  <div>
    <dt class="cya-question" style="border-bottom:none">
      Name
    </dt>
    <dd class="cya-answer" style="border-bottom:none">
      {{ subcontractor.name }}
    </dd>
    <dd class="cya-change" style="border-bottom:none">
      {% if page != "review" %}
      <a href="/v4/edit/add_subcontractors/{{ subcontractor.id }}">Change</a>
      {% endif %}
    </dd>
  </div>

  <div>
    <dt class="cya-question" style="border-bottom:none">
      Email
    </dt>
    <dd class="cya-answer" style="border-bottom:none">
      {{ subcontractor.email }}
    </dd>
    <dd class="cya-change" style="border-bottom:none">
    </dd>
  </div>

  {% if page == "review" and loop.index == order_form.add_subcontractors.length %}
    <div>
      <dt class="cya-question" style="border-bottom:none">
        Telephone
      </dt>
      <dd class="cya-answer" style="border-bottom:none">
        {{ subcontractor.phone }}
      </dd>
      <dd class="cya-change" style="border-bottom:none">
      </dd>
    </div>
    {% else %}
    <div>
      <dt class="cya-question">
        Telephone
      </dt>
      <dd class="cya-answer">
        {{ subcontractor.phone }}
      </dd>
      <dd class="cya-change">
      </dd>
    </div>
  {% endif %}
</dl>
{% endfor %}