<span class="form-hint">Step 2 of 5</span>
<form class="form" action="" method="post">
  <h2 class="heading-medium-first">Who will sign</h2>
  {% if content.supplier_authorised_representative.hint %}
    {% for hint_text in content.supplier_authorised_representative.hint %}
    <p>{{ hint_text }}</p>
    {% endfor %}
  {% endif %}

  <div class="form-group">
    <h2 class="heading-medium">Name</h2>
    <label class="form-label" for="supplier_representative_name">
      <span class="form-hint">
      </span>
    </label>
    <input class="form-control" id="supplier_representative_name" type="text" name="supplier_representative_name" value="{{ order_form.supplier_representative_name }}">

    <h2 class="heading-medium">Role</h2>
    <label class="form-label" for="supplier_representative_role">
      <span class="form-hint">
      </span>
    </label>
    <input class="form-control" id="supplier_representative_role" type="text" name="supplier_representative_role" value="{{ order_form.supplier_representative_role }}">

    <h2 class="heading-medium">Email</h2>
    <label class="form-label" for="supplier_representative_email">
      <span class="form-hint">
      </span>
    </label>
    <input class="form-control" id="supplier_representative_email" type="text" name="supplier_representative_email" value="{{ order_form.supplier_representative_email }}">

    <h2 class="heading-medium">Telephone</h2>
    <label class="form-label" for="supplier_representative_phone">
      <span class="form-hint">
      </span>
    </label>
    <input class="form-control" id="supplier_representative_phone" type="text" name="supplier_representative_phone" value="{{ order_form.supplier_representative_phone }}">

    <h2 class="heading-medium">Address</h2>
    <label class="form-label" for="supplier_representative_address">
      <span class="form-hint">
      </span>
    </label>
    <input class="form-control" id="supplier_representative_address" type="text" name="supplier_representative_address" value="{{ order_form.supplier_representative_address }}">
  </div>

  {% include "v4/includes/_save_and_continue.html" %}
</form>