<span class="form-hint">Step 1 of 5</span>
<form class="form" action="" method="post">
  <div class="form-group">
    <h2 class="heading-medium-first">{{ content.supplier.name.label }}</h2>
    <label class="form-label" for="supplier_name"></label>
    <input class="form-control" id="supplier_name" type="text" name="supplier_name" value="{% if order_form.supplier_name %}{{ order_form.supplier_name }}{% else %}{{ content.prefill.supplier_name }}{% endif %}">

    <h2 class="heading-medium">{{ content.supplier.address.label }}</h2>
    <label class="form-label" for="supplier_address"></label>
    <input class="form-control" id="supplier_address" type="text" name="supplier_address" value="{% if order_form.supplier_address %}{{ order_form.supplier_address }}{% else %}{{ content.prefill.supplier_address }}{% endif %}">

    <h2 class="heading-medium">{{ content.supplier_contract_manager.title }}</h2>
    {% if content.supplier_contract_manager.hint %}
    <span class="form-hint">
      {% for hint_text in content.supplier_contract_manager.hint %}
        {{ hint_text }}<br>
      {% endfor %}
    </span>
    {% endif %}

    {%
      if order_form.supplier_contract_manager_name|length or
      order_form.supplier_contract_manager_role|length or
      order_form.supplier_contract_manager_email|length or
      order_form.supplier_contract_manager_phone|length or
      order_form.supplier_contract_manager_address|length
    %}
      {% include "v4/includes/_supplier_contract_manager_review.html" %}

      {% if review_param %}
        {% set edit_param = "&edit=yes" %}
      {% else %}
        {% set edit_param = "?edit=yes" %}
      {% endif %}
      <p><a href="/v4/supplier_contract_manager{{ review_param }}{{ edit_param }}">Change</a></p>
    {% else %}
      <p><a href="/v4/supplier_contract_manager{{ review_param }}">Add</a></p>
    {% endif %}
  </div>

  {% include "v4/includes/_save_and_continue.html" %}
</form>
