  <dl class="govuk-check-your-answers cya-questions-short">
  {% if order_form.supplier_representative_name|length %}
    <div>
      <dt class="cya-question" style="border-bottom:none">
        Name
      </dt>
      <dd class="cya-answer" style="border-bottom:none">
        {{ order_form.supplier_representative_name }}
      </dd>
      <dd class="cya-change" style="border-bottom:none">
      </dd>
    </div>
  {% endif %}

  {% if order_form.supplier_representative_role|length %}
    <div>
      <dt class="cya-question" style="border-bottom:none">
        Role
      </dt>
      <dd class="cya-answer" style="border-bottom:none">
        <div>
          {{ order_form.supplier_representative_role }}
        </div>
        </dd>
      <dd class="cya-change" style="border-bottom:none">
      </dd>
    </div>
  {% endif %}

  {% if order_form.supplier_representative_email|length %}
    <div>
      <dt class="cya-question" style="border-bottom:none">
        Email
      </dt>
      <dd class="cya-answer" style="border-bottom:none">
        {{ order_form.supplier_representative_email }}
      </dd>
      <dd class="cya-change" style="border-bottom:none">
      </dd>
    </div>
  {% endif %}

  {% if order_form.supplier_representative_phone|length %}
    <div>
      <dt class="cya-question" style="border-bottom:none">
        Telephone
      </dt>
      <dd class="cya-answer" style="border-bottom:none">
        {{ order_form.supplier_representative_phone }}
      </dd>
      <dd class="cya-change" style="border-bottom:none">
      </dd>
    </div>
  {% endif %}

  {% if order_form.supplier_representative_address|length %}
    <div>
      <dt class="cya-question" style="border-bottom:none">
        Address
      </dt>
      <dd class="cya-answer" style="border-bottom:none">
        {{ order_form.supplier_representative_address }}
      </dd>
      <dd class="cya-change" style="border-bottom:none">
      </dd>
    </div>
  {% endif %}
  </dl>