{% if review == "supplier_details" %}
  {% set supplier_change = "supplier_details" %}
{% else %}
  {% set supplier_change = "all" %}
{% endif %}

<dl class="govuk-check-your-answers cya-questions-short">
  <div>
    <dt class="cya-question">
      <h2 class="heading-medium">{{ content.supplier.title }}</h2>
    </dt>
    <dd class="cya-answer">
    </dd>
    <dd class="cya-change">
    </dd>
  </div>

  <div>
    <dt class="cya-question" style="border-bottom:none">
      {{ content.supplier.name.label }}
    </dt>
    <dd class="cya-answer" style="border-bottom:none">
      <div>
        {% if order_form.supplier_name %}
          {{ order_form.supplier_name }}
        {% else %}
          {{ content.prefill.supplier_name }}
        {% endif %}
      </div>
      </dd>
    <dd class="cya-change" style="border-bottom:none">
      {% if order_form.sensitive_complete %}
        <a href="/v4/supplier?review={{ supplier_change }}">Change</a>
      {% endif %}
    </dd>
  </div>

  <div>
    <dt class="cya-question" style="border-bottom:none">
      {{ content.supplier.address.label }}
    </dt>
    <dd class="cya-answer" style="border-bottom:none">
      {% if order_form.supplier_address %}
        {{ order_form.supplier_address }}
      {% else %}
        {{ content.prefill.supplier_address }}
      {% endif %}
    </dd>
    <dd class="cya-change" style="border-bottom:none">
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      Contract manager
    </dt>
    <dd class="cya-answer">
      {% include "v4/includes/_supplier_contract_manager_review.html" %}
    </dd>
    <dd class="cya-change">
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      Who will sign
    </dt>
    <dd class="cya-answer">
      {% include "v4/includes/_supplier_representative.html" %}
    </dd>
    <dd class="cya-change">
      {% if order_form.sensitive_complete %}
        <a href="/v4/supplier_authorised_representative?review={{ supplier_change }}">Change</a>
      {% endif %}
    </dd>
  </div>

  <div>
    <dt class="cya-question" style="border-bottom:none">
      {{ content.supplier_numbers.registration_number.label }}
    </dt>
    <dd class="cya-answer" style="border-bottom:none">
      {% if order_form.registration_number %}
        {{ order_form.registration_number }}
      {% else %}
        {{ content.prefill.registration_number }}
      {% endif %}
    </dd>
    <dd class="cya-change" style="border-bottom:none">
      {% if order_form.sensitive_complete %}
        <a href="/v4/supplier_numbers?review={{ supplier_change }}">Change</a>
      {% endif %}
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      {{ content.supplier_numbers.duns.label }}
    </dt>
    <dd class="cya-answer">
      {% if order_form.duns %}
        {{ order_form.duns }}
      {% else %}
        {{ content.prefill.duns_number }}
      {% endif %}
    </dd>
    <dd class="cya-change">
    </dd>
  </div>

  <div>
    <dt class="cya-question" style="border-bottom:none">
      Essential staff
    </dt>
    <dd class="cya-answer" style="border-bottom:none">
      {% if order_form.add_staff %}
        {% include "v4/includes/_staff.html" %}
      {% endif %}
    </dd>
    <dd class="cya-change" style="border-bottom:none">
      {% if order_form.sensitive_complete %}
        <a href="/v4/supplier_staff?review={{ supplier_change }}">Change</a>
      {% endif %}
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      Essential subcontractors
    </dt>
    <dd class="cya-answer">
      {% if order_form.add_subcontractors %}
        {% include "v4/includes/_subcontractors.html" %}
      {% endif %}
    </dd>
    <dd class="cya-change">
    </dd>
  </div>

  <div>
    <dt class="cya-question">
      {{ content.sensitive.information.label }}
    </dt>
    <dd class="cya-answer">
      {{ order_form.sensitive_information }}
    </dd>
    <dd class="cya-change">
      {% if order_form.sensitive_complete %}
        <a href="/v4/sensitive?review={{ supplier_change }}">Change</a>
      {% endif %}
    </dd>
  </div>
</dl>