{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="technology">Back</a>

      <form class="form" action="create-contract" method="post">
        <div class="form-group">
          <fieldset>

            <legend>
              <h1 class="heading-large">How will the buyer award a contract at call-off?</h1>
            </legend>

            {% for type in [['Direct award', 'Buyers can award a contract to a supplier without going through a bidding process.'], ['Further competition', 'Suppliers on a framework have to bid for business.']] %}
            <div class="multiple-choice">
              <input id="award-type" type="checkbox" name="award-type" value="{{ type[0] }}" {% if type[0] == data['award-type'] %}checked="checked"{% endif %}">
              <label for="checkbox-{{ loop.index }}">{{ type[0] }}<br><span class="form-hint">{{ type[1] }}</span></label>
            </div>
            {% endfor %}
          </fieldset>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
      </form>

    </div>
  </div>
</main>

{% endblock %}
