{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="award-type" class="link-back">Back</a>

      <h1 class="heading-large">
        {{ data['contract-name'] }}
      </h1>


      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `cya-questions-short` for short questions -->
      <!--   * `cya-questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Created by
          </dt>
          <dd class="cya-answer">
            {{ data['first-name'] }} {{ data['last-name'] }}
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Last updated
          </dt>
          <dd class="cya-answer">
            6 March 2018
          </dd>
        </div>
      </dl>

      <h2 class="heading-medium">Contract details</h2>

      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Contract summary
          </dt>
          <dd class="cya-answer">
            {{ data['contract-summary'] }}
          </dd>
          <dd class="cya-answer">
            <a href="procurement-type">Edit</a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Procurement category
          </dt>
          <dd class="cya-answer">
            {{ data['procurement-type'] }}
          </dd>
          <dd class="cya-answer">
            <a href="procurement-type">Edit</a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Award type
          </dt>
          <dd class="cya-answer">
            {{ data['award-type'] }}
          </dd>
          <dd class="cya-answer">
            <a href="award-type">Edit</a>
          </dd>
        </div>
      </dl>

      <p class="text" style="margin-top: 40px">
        This contract will contain:
      </p>

      <ul class="list list-bullet">
        <li><a href="documents/core-terms">Core terms</a></li>
        <li><a href="documents/framework-award-form">Framework award form</a></li>
        <li><a href="documents/call-off-order-form">Call-off order form</a></li>
      </uL>

{% set mandatory_schedules = [
    'Framework schedule 1: Specification',
    'Framework schedule 2: Framework tender',
    'Framework schedule 3: Framework prices'
  ]
%}

      <h3 class="heading-small">Mandatory schedules</h3>
      <ul class="list list-bullet">
        {% for schedule in mandatory_schedules %}
          <li><a href="documents/schedule">{{ schedule }}</a></li>
        {% endfor %}
      </uL>

{% set optional_schedules = [
    'Joint schedule 8: Guarantee',
    'Framework schedule 9: Cyber Essentials Scheme',
    'Call-off schedule 17: MoD terms'
  ]
%}
      <h3 class="heading-small">Optional schedules</h3>
      <ul class="list list-bullet">
        {% for schedule in optional_schedules %}
          <li><a href="documents/schedule">{{ schedule }}</a> <a href="documents/schedule">[remove]</a></li>
        {% endfor %}
      </uL>

      <div class="form-group" style="margin-top: 20px">
        <a href="download-contract" class="button">Create contract</a>
      </div>

    </div>
  </div>
</main>

{% endblock %}
