{% extends "layout.html" %}

{% block page_title %}
  Email address
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="v1/">Back</a>

      <h1 class="heading-large">Email address</h1>

      <form class="form" action="password" method="post">
        <div class="form-group">
          <label class="form-label" for="email">
            <span class="form-hint">
              We'll use this to identify your account.
            </span>
          </label>
          <input class="form-control" id="email" type="text" name="email" value="{{ data['email'] }}">
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
      </form>

    </div>
  </div>
</main>

{% endblock %}
