{% extends "layout.html" %}

{% block page_title %}
  Build a public sector contract
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Build a public sector contract
      </h1>

      <p>Answer questions about your procurement and create a template framework contract to download.</p>
      
      The template includes the following mandatory documents:</p>

      <ul class="list list-bullet">
        <li>the core terms</li>
        <li>the framework award form</li>
        <li>the call-off order form</li>
         <li>mandatory schedules</li>
      </uL>
      <p>Your framework contract will be created using these mandatory documents and any optional schedules required. 
         You'll answer questions to determine which of the optional schedules you'll need.</p>

      <p>
        <a class="button button-start" href="v1/email" role="button">Start now</a>
      </p>

      <h2 class="heading-medium">Before you start</h2>

      <p>It would help if you have:</p>

      <ul class="list list-bullet">
        <li>your requirements</li>
        <li>the change log</li>
        <li>any previous iterations of the framework</li>
      </uL>

    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="https://ccs-agreements.cabinetoffice.gov.uk/">Find a framework agreement</a></li>
            <li><a href="#">Guidance</a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>

{% endblock %}
