{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="contract-summary.html">Back</a>

      <form class="form" action="technology" method="post">
        <div class="form-group">
          <fieldset>

            <legend>
              <h1 class="heading-large">Do CCS want suppliers to provide a guarantee for every call-off contract?</h1>
            </legend>

            <div class="multiple-choice" data-target="mod-yes">
              <input id="mod" type="radio" name="mod" value="Yes" {% if data['mod'] == 'Yes' %}checked="checked"{% endif %}>
              <label for="mod">Yes</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="mod-yes">
              <p>You'll need to use Joint schedule 8: Guarantee. This schedule has been added to your framework contract.</p>
            </div>

            <div class="multiple-choice">
              <input id="mod" type="radio" name="mod" value="No" {% if data['mod'] == 'No' %}checked="checked"{% endif %}">
              <label for="mod">No</label>
            </div>
                      
            <div class="panel panel-border-narrow js-hidden" id="mod-no">
              <p>As you answered no, you don't need to use Joint schedule 8: Guarantee. 
              If anything changes, you can include it when you create your framework.</p>
            </div>

          </fieldset>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
      </form>

    </div>
  </div>
</main>

{% endblock %}
