{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="mod">Back</a>

      <form class="form" action="award-type" method="post">
        <div class="form-group">
          <fieldset>

            <legend>
              <h1 class="heading-large">Will any individual call-off contracts exceed £10 million?</h1>
            </legend>

            <div class="multiple-choice" data-target="technology-yes">
              <input id="technology" type="radio" name="technology" value="Yes" {% if data['technology'] == 'Yes' %}checked="checked"{% endif %}>
              <label for="technology">Yes</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="technology-yes">
              <p>We recommend you use Joint schedule 9: Minimum standards of reliability.
                 This schedule will be included when you create your framework.</p>
            </div>

            <div class="multiple-choice">
              <input id="technology" type="radio" name="technology" value="No" {% if data['technology'] == 'No' %}checked="checked"{% endif %}">
              <label for="technology">No</label>
                
             <div class="panel panel-border-narrow js-hidden" id="mod-no">
              <p>As you answered no, you don't need to use Joint schedule 9: Minimum standards of reliability. 
              If anything changes, you can include it when you create your framework.</p>
            </div> 
            </div>

          </fieldset>
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
      </form>

    </div>
  </div>
</main>

{% endblock %}
