{% extends "layout.html" %}

{% block page_title %}
  Create a contract
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Create a call-off contract
      </h1>

       <p>Create a call-off contract using the latest templates from the Crown Commercial Service.

      <p>You can:</p>

      <ul class="list list-bullet">
        <li>download all the documents you need</li>
        <li>choose the right optional documents for your call-off contract</li>
        <li>collaborate with other team members</li>
      </ul>

      <p>
        <a class="button button-start" href="/v3/what-is-the-public-sector-contract" role="button">Get the documents</a>
      </p>

      <h2 class="heading-medium">Before you start</h2>

      <p>It would help if you have the:</p>

      <ul class="list list-bullet">
        <li>requirements</li>
        <li>business case</li>
      </uL>

    </div>
  </div>

</main>

{% endblock %}
