{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="contract">Back</a>

      <h1 class="heading-large">The team</h1>

      <p>Who else is working on this contract?</p>

      <form class="form" action="" method="post">
        <div class="form-group">
          <label class="form-label" for="reference-number">
            <span class="form-hint">
              Email address
            </span>
          </label>
          <input class="form-control" id="reference-number" type="text" name="email">
        </div>

        <div class="form-group">
          <fieldset>

            <legend>
              <h1 class="heading-large">Role</h1>
            </legend>

            <div class="multiple-choice" data-target="mod-yes">
              <input id="Commercial" type="radio" name="role" value="Commercial">
              <label for="Commercial">Commercial</label>
            </div>

            <div class="multiple-choice" data-target="mod-yes">
              <input id="Finance" type="radio" name="role" value="Finance">
              <label for="Finance">Finance</label>
            </div>

            <div class="multiple-choice" data-target="mod-yes">
              <input id="Communications" type="radio" name="role" value="Communications">
              <label for="Communications">Communications</label>
            </div>

            <div class="multiple-choice" data-target="mod-yes">
              <input id="Other" type="radio" name="role" value="Other">
              <label for="Other">Other</label>
            </div>

          </fieldset>
        </div>

        <p>Anyone you add will be emailed and invited to work on this call-off contract.</p>
        <p>You can add more people at any time.</p>

        <div class="form-group">
          <input class="button" type="submit" value="Invite">
          <a href="contract" class="button">Cancel</a>
        </div>
      </form>

    </div>
  </div>
</main>

{% endblock %}
